/* Empty. Add your own CSS if you like */
.slider {
            height: auto;
			visibility:hidden;
                   }
				   
       .slider-slide {
                padding-top: 45px;
                color: #000;
                background-color:#C0C0C0;
                text-align: center;

          font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
          font-weight: 300;
	   }

a:hover{
	     background-color:#fff;
		 color:#fff;
	}
.button-icon{
	      size:12px;
	 }
.slider_media img{
	height:100%;
	width:100%;
	display:none;
	}
#load_dwn{
	position:absolute;width:100%;height:100%;background-color:black;color:white;top:0;left:0;;padding-top:10px;font-size:16px;z-index:5;
	}

