<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.11.1/jquery-ui.min.js"></script>
   <script type="text/javascript">
    function slider(){
		  $(".slider_media #1").show("fade",500);
		  $(".slider_media #1").delay(5500).hide("slide",{direction:"left"},500);
		  
		  var sc = $(".slider_media img").size();
		  alert(sc);
		  var count = 2;
		  
		  setInterval(function(){
			       $(".slider_media #"+count).show("slide",{direction:"right"},500);
				   $(".slider_media #"+count).delay(5500).hide("slide",{direction:"left"},500);
				   
				   if(count == sc){
					       count = 1;
					   }
				   else{
					      count = count +1;
					   }
			  },6500)
		}
   </script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/SocialSharing.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/processor.js"></script>
    <!--
     <script type="text/javascript">
	 document.addEventListener("deviceready", onDeviceReady, false);

function onDeviceReady() {
	alert();
window.requestFileSystem(LocalFileSystem.PERSISTENT, 0, onRequestFileSystemSuccess, null); 
}
function onRequestFileSystemSuccess(fileSystem) {
	   
        var entry=fileSystem.root; 
        entry.getDirectory("example", {create: true, exclusive: false}, onGetDirectorySuccess, onGetDirectoryFail); 
} 

function onGetDirectorySuccess(dir) { 
      alert("Created dir "+dir.name); 
	  dir.getFile("lockfile.txt", {create: true, exclusive: true}, gotFile);
} 

function gotFile(fileEntry) {
            var sPath = fileEntry.fullPath.replace("lockfile.txt","");
		
            var fileTransfer = new FileTransfer();
            fileEntry.remove();
			 fileTransfer.download(
                               "http://fishpond.site88.net/files/products/Doreen 20140827_010300.jpg",
                                sPath,
                                function(theFile) {
                                  alert("download complete: " + theFile.toURI());
                                                             showLink(theFile.toURI());
                                                      },
function(error) {
alert("download error source " + error.source);
alert("download error target " + error.target);
console.log("upload error code: " + error.code);
}
);

}

function onGetDirectoryFail(error) { 
     alert("Error creating directory "+error.code); 
} 

	</script>
   -->
   <!--
<script type="text/javascript">
    window.onload = function(){
		    var element = document.getElementById("info");
	    element.innerHTML = '<div style="visibility: visible;" class="slider"><div style="width: 2622px;" class="slider-slides" ng-transclude=""><ion-slide data-index="0" style="width: 1311px; left: 0px; transition-duration: 0ms; transform: translateX(0px);" class="slider-slide">Kifukwe</ion-slide><ion-slide data-index="1" style="width: 1311px; left: -1311px; transition-duration: 0ms; transform: translateX(1311px);" class="slider-slide">Ambokile</ion-slide></div><div class="slider-pager"><span class="slider-pager-page active" ng-repeat="slide in numSlides() track by $index" ng-class="{active: $index == currentSlide}" ng-click="pagerClick($index)"></span><span class="slider-pager-page" ng-repeat="slide in numSlides() track by $index" ng-class="{active: $index == currentSlide}" ng-click="pagerClick($index)"></span></div></div>';
			return false;
		}
</script>
-->

<style type="text/css">
 .slider_media{
	  margin-top:2%;   border:#000 none solid; padding:0%; width:100%; height:80%; background-color:transparent;overflow:hidden; background-image:url(img/ajax-loader_2.gif); background-repeat:no-repeat; background-position:center;
	 }
.slider_media img{
	    width:100%;
		height:100%;
		display:none;
	}
</style>
  </head>
  
 <body ng-app="ionicApp" animation="slide-left-right-ios7" ng-controller="MyCtrl" onLoad="slider();" >
    <ion-nav-view animation="slide-left-right"></ion-nav-view>


    <script id="filamu.html" type="text/ng-template"> 
     
	    
	       <ion-side-menus>
		   
  <!-- Center content -->
            
				<ion-side-menu-content ng-controller="ContentController">
              <ion-header-bar class="bar bar-balanced">
			        
			               <button class="button button-icon icon ion-ios7-people" menu-toggle="left"></button>
						   
                          <h1 class="title" style = "margin-left:10%;">Filamu</h1>
						
						   <a class="button button-icon icon-right ion-ios7-musical-notes" href="#/music"></a>
                        </ion-header-bar>
				<ion-content  ng-controller="InfoCtrl">
						
  
           <div  style = "padding:2%; background-color:#C0C0C0; height:400px;">
		               <div class="slider_media" id ="info">
					
	    </div>
		         <div style="width:100%; height:auto; background-color:#fff;  border-bottom:#C0C0C0 20px solid;" >
	       <div class="button-bar">
   <a class="button button-icon icon ion-thumbsup" style="border-right:#C0C0C0 1px solid;" ></a>
    <a class="button button-icon icon ion-thumbsdown" style="border-right:#C0C0C0 1px solid;" ></a>
  <a class="button button-icon icon ion-android-share" onmousedown ="window.plugins.socialsharing.share('oyooooo duka la $name sasa lipo karibu na wewe kupita seine, utapata kununua bidhaa zetu ukiwa nyumbani kwako na kuongea na wahudumu wetu bila tatizo. download seine app na upate huduma karibu nawe', 'karibu kwetu');" style="border-right:#C0C0C0 1px solid;" ></a>
 
</div>

	</div>
		
		     </div> 
			 </ion-content>
			 <ion-footer-bar class="bar bar-light" style="padding:2;">
                        </ion-footer-bar>
             </ion-side-menu-content>
			  

  <!-- Left menu -->
           <ion-side-menu side="left">
               <ion-header-bar class = "bar bar-balanced">
       
        <h1 class="title" style="font-weight:bold;">Maktaba</h1>
		<button class="button button-icon icon ion-chevron-right" menu-close id = "first_button"></button>
     </ion-header-bar>
      <ion-content>
			      
      </ion-content>
           </ion-side-menu>
</ion-side-menus>
      </ion-view>
    </script>
   
   
   
   <script id="music.html" type="text/ng-template"> 
      
	       <ion-side-menus>
		   
  <!-- Center content -->
            
				<ion-side-menu-content ng-controller="ContentController">
                           <ion-header-bar class="bar bar-balanced">
			          <a class="button button-icon icon-right ion-film-marker" href="#/filamu"></a>
			              
                          <h1 class="title" style = "margin-left:10%;">Music</h1>
						 <button class="button button-icon icon ion-ios7-people" menu-toggle="right"></button>
						   
						 
                        </ion-header-bar>
				<ion-content>
						
  
           
			 
			 </ion-content>
			 <ion-footer-bar class="bar bar-light" style="padding:2;">
                        </ion-footer-bar>
             </ion-side-menu-content>
			  

  <!-- right menu -->
           <ion-side-menu side="right">
               <ion-header-bar class = "bar bar-balanced">
       <button class="button button-icon icon ion-chevron-left" menu-close ></button>
        <h1 class="title" style="font-weight:bold;">Maktaba</h1>
		
     </ion-header-bar>
      <ion-content>
			       
      </ion-content>
           </ion-side-menu>
</ion-side-menus>
      </ion-view>
    </script>
   
   
   
  </body>
</html>
